@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@layer base {
  html,body {
    @apply scroll-smooth bg-gray-100 text-gray-800 antialiased tracking-tight font-inter
  }

  h2 {
    @apply text-6xl font-dancing
  }
  h3 {
    @apply text-3xl font-bold
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }
}

@layer components{
  .btn{
    @apply  text-gray-700 hover:text-black bg-gradient-to-r from-secondary via-orange-100 to-secondary hover:bg-gradient-to-br hover:shadow-md
  }
}

/*** About ***/
.about-img {
  position: relative;
  overflow: hidden;
}

.about-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/images/mask.png) top left no-repeat;
  background-size: contain;
}

