@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@layer base {
  /* html {
    @apply scroll-smooth
  } */
  html,body {
    @apply scroll-smooth bg-gray-200 text-gray-800 antialiased tracking-tight
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/*** About ***/
.about-img {
  position: relative;
  overflow: hidden;
}

.about-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/images/mask.png) top left no-repeat;
  background-size: contain;
}